{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col col-md-12 col-s-10 my-2 text-center index-text-container">
                <h1 class="display-3 font-weight-bold text-black index-text">
                    Luxury Organic <br>
                    Handmade <br>
                    Scented Candles
                </h1>
                <div class="my-2 text-center shop-now-container">
                    <button class="cool-shop-button">
                        Shop Now
                    </button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}