html {
    height: 100%;
}

body {
    background: url('/media/kandl-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family:'Cormorant Garamond', serif;
}

/* Navbar */

#topnav {
    background-color: #000000
}

#main-nav {
    background-color: #000000
}

.navbar-body {
    background-color: #e8b923
}

.navbar-mini-menu {
    background-color: #000000
}

#delivery-banner {
    background-color: #000000
}

.my-account-area {
    background-color: black;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Logo */
.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}


/* Buttons */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.shop-now-container {
    padding-top: 3em;
}

/* cool-shop-button */
.cool-shop-button {
    --glow-color: #e8b923;
    --glow-spread-color: rgba(255, 195, 30, 0.932);
    --enhanced-glow-color: rgba(255, 195, 30, 0.932);
    --btn-color: rgba(43, 41, 35, 0.986);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 0.5em .25em var(--glow-color),
           0 0 2em 0.5em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }

   .cool-shop-button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 2em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
}

button:active {
     box-shadow: 0 0 0.6em .25em var(--glow-color),
                0 0 2.5em 2em var(--glow-spread-color),
                inset 0 0 .5em .25em var(--glow-color);
}
/* Text */
.text-black {
    color: #e8b923!important;
}

.border-black {
    border: 1px solid rgb(0, 0, 0) !important;
}

.index-text {
    background-color: #000000;
    opacity: 0.8;
    margin-top: 24vh;
}

.index-text-container {
    padding-left: 5em;
    padding-right: 5em;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

}

/* small screens  */    
@media only screen and (max-width: 600px) {
    .index-text {
        font-size: 1.7em;
        margin-top: 40vh;
    }

    .shop-now-button {
        min-width: 215px;
    }

    .logo-font {
        font-size: 1rem;
    }
}