<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 navbar-mini-menu" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="candles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Candles
            </a>
            <div class="dropdown-menu border-0 navbar-mini-menu" aria-labelledby="candles-link">
                <a href="" class="dropdown-item">Soy</a>
                <a href="" class="dropdown-item">Beeswax</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bath-bombs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bath Bombs
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="soaps-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Soaps
            </a>
            <div class="dropdown-menu border-0 navbar-mini-menu" aria-labelledby="soaps-link">
                <a href="" class="dropdown-item">Solid</a>
                <a href="" class="dropdown-item">Liquid</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0 navbar-mini-menu" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>