{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Contact
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container mb-2">
        <div class="row">
            <div class="col my-4 text-center">
                <h2 class="logo-font text-contact">Contact</h2>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-12 col-lg-6">
                <p class="black">If you have any questions about our products, leave us a message and we'll get back to you as soon as possible.</p>
                <form action="{% url 'contact' %}" class="mt-3 black" method="POST" id="contact-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="cool-shop-button float-right">Send Message</button>
                </form>
            </div>
        </div>
    </section>
    <div class="btt-button border-black black-btn bg-cream">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0);
        });
    </script>
{% endblock %}
